<footer class="footer text-center">
    <div id="bottom-inner">
        <a class="bottom-item" href="<%=theme.github%>" target="_blank">GitHub</a> |
        <a class="bottom-item" href="<%=theme.links_url%>"><%= __('links')%></a> |
        <a class="bottom-item" href="https://hexo.io" target="_blank">Powered by hexo</a> 
    </div>
    <div id="bottom-inner">
        <a class="bottom-item" href="<%=theme.ICP.url%>" target="_blank"><%=theme.ICP.text%></a>
    </div>
</footer>
